<div class="container pad-top">
  <a [routerLink]="['shipwreck-create']" class="btn-primary btn-lg nodecoration">Add Shipwreck</a>
  <table class="table shipwrecktable">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <!--<th>Condition</th>
      <th>Depth</th>
      <th>Location</th>-->
    <th>Year Discoverd</th>

    </tr>
    <tr *ngFor="let shipwreck of shipwrecks">
      <td>
        <a [routerLink]="['/shipwreck-list/shipwreck-view/', shipwreck.id]"> {{shipwreck.name}}</a>
      </td>
    <!--  <td>
       {{shipwreck.name}}
    </td>-->
      <td>
        {{shipwreck.description}}
      </td>
     <!-- <td>
        {{shipwreck.condition}}
      </td>
      <td class="text-right">
        {{shipwreck.depth}}
      </td>
      <td class="text-right">
        {{shipwreck.latitude}}, {{shipwreck.longitude}}
      </td>-->
      <td>
        {{shipwreck.yearDiscovered}}
      </td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/shipwreck-list/shipwreck-edit/', shipwreck.id]">Edit</a>
        <a class="btn btn-danger" (click)="deleteShipwreck(shipwreck.id)" [routerLink]="['/shipwreck-list']">Delete</a>
      </td>
    </tr>
  </table>
</div>
